<%- include('partials/header') %>

<main class="container">
    <h2>Service Project Categories</h2>
    <p>Explore our diverse range of service opportunities:</p>
    
    <ul class="list-group">
        <li class="list-group-item">Environmental</li>
        <li class="list-group-item">Educational</li>
        <li class="list-group-item">Community Service</li>
        <li class="list-group-item">Health and Wellness</li>
    </ul>
</main>

<%- include('partials/footer') %>