<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    
    <section class="category-grid">
        <p class="intro-text">Browse our projects by category:</p>
        
        <ul>
            <% categories.forEach(category => { %>
                <li>
                    <div class="category-info">
                        <strong><%= category.category_name %></strong>
                    </div>
                </li>
            <% }); %>
        </ul>
    </section>
</main>

<%- include('partials/footer') %>